{% extends 'bits_base_admin.html' %}
{% load static %}
{% load i18n %}
{% load table_tags %}
{% load widget_tweaks %}

{% block nav-links %}
  {% include 'business_dev/nav/business_user_nav.html' %} 
{% endblock %} 

{% block title %}Applicant Data View{% endblock %}

{% block staticContent %}
  <link rel="stylesheet" href="/static/assets/css/jquery-ui.css">
  <script src="/static/assets/js/jquery-ui.js"></script>
  <script src="/static/assets/js/datepicker.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    $('select[name=pg_type]').change(function(){
        $.getJSON( "{% url 'bits_admin_payment:get-prog' %}", 
          { 
            pg_type : $('#id_pg_type').val() 
          } ).done(function( data ) {
            var fetched_data = JSON.parse(data['pg']);
            $('select[name=programs]').empty();
            $('select[name=programs]').append($('<option>',{value: '',text: 'Choose Program'}));
            $.each(fetched_data,function(i,value){
              $('select[name=programs]').append($('<option>',{value: value.pk, text: value.full_pg}));
            });
          });
    });

    $("#csv, #Educsv, #WExpcsv, #MHrcsv").click(function(){

         var search=$('input[type=search]').val();
         var to_date=$("#id_to_date").val();
         var from_date=$("#id_from_date").val();
         var pg=$("#id_programs").val();
         var pg_typ=$("#id_pg_type").val();
         var st=$("#id_status").val();
         var admit_batch=$("#id_admit_batch").val();
         $("#texens").val(search);
         $("#fromDate").val(from_date);
         $("#toDate").val(to_date);
         $("#prog").val(pg);
         $("#pg_type").val(pg_typ);
         $("#stat").val(st);
         $("#admit_batch").val(admit_batch);

        });

    $("#id_from_date").attr('size',10);
    $("#id_from_date").datepicker({
            dateFormat: "dd-mm-yy",
                  numberOfMonths: 1,
                  changeMonth: true,
                  changeYear: true,
                  showOn: "button",
                   maxDate: '0',
        buttonImage: "{% static "assets/images/img-calendar-lg.gif" %}",
        buttonImageOnly: true,
          buttonText: "Select date",
              onSelect: function(selected) {
                    $("#id_to_date").datepicker("option","minDate", selected);
                  }
              });
      $("#id_to_date").attr('size',10);
      $("#id_to_date").datepicker({
          dateFormat: "dd-mm-yy",
              numberOfMonths: 1,
              changeMonth: true,maxDate: '0',
              changeYear: true,showOn: "button",
        buttonImage: "{% static "assets/images/img-calendar-lg.gif" %}",
        buttonImageOnly: true,
          buttonText: "Select date",
              onSelect: function(selected) {
                 $("#id_from_date").datepicker("option","maxDate", selected);

              }
          }); 

  });

    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
  "date-uk-pre": function ( a ) {
    
      var ukDatea = a.split('-');
      var year_time_array = ukDatea[2].split(" ");
      var h_m_array = year_time_array[1].split(":");
      var a_p = year_time_array[2];
      var a_p_num; 
      if(a_p =='a.m.')
        a_p_num = 0;
      else
        a_p_num = 1;

      return (year_time_array[0] + ukDatea[1] + ukDatea[0] + a_p_num + h_m_array[0] + h_m_array[1]) * 1;
  },

  "date-uk-asc": function ( a, b ) {
      return ((a < b) ? -1 : ((a > b) ? 1 : 0));
  },

  "date-uk-desc": function ( a, b ) {
      return ((a < b) ? 1 : ((a > b) ? -1 : 0));
  }
  } );


  // just for the demos, avoids form submit
  jQuery.validator.setDefaults({
    debug: true,
    success: "valid"
  });
  $( "#myform" ).validate({
    rules: {
      from_date: {
        required: true,
        date: true
      },
      to_date: {
        required: true,
        date: true
      }
    }
  });

  </script> 
  <style type="text/css">
    #id_programs {
      width:70%;
    }
    #id_status{
      width:60%;
    }
    .form-inline .input-group > .form-control
    {
      
       width:200%;
       
    }
    @supports (-moz-appearance:none) {
    .form-inline .input-group > .form-control
    {
      
       width:240%;
       
    }
}

    .input-group{
      right:130px;
    }
    .flex-container {
   display: flex;
   flex-wrap: nowrap;
       }

 .flex-container > div {
   width: 100%;
 
   }

  </style>
{% endblock %}

{%block titleOfContent %} 
  Applicant Data View 
{% endblock %}

{% block container %}
  <br>
  <div class="container-fluid">
    <form action="{% url 'business_user:dateFormat' %}" method="get" id="myform">
    {% csrf_token %}
    <div class="flex-container">

      <div style="width: 80%"><b> From Date:</b> {{form1.from_date|attr:'maxlength:0'}}
      <p style="font-size: 9px;"><b>(Applied on Date)</b></p></div>

      <div style="width: 80%"><b>To Date:</b> {{form1.to_date|attr:'maxlength:0'}}
      <p style="font-size: 9px;"><b>(Applied on Date)</b> </p></div>

      <div style="width: 90%"><b>Program :</b>{{form1.programs}}
      <p style="font-size: 9px; "><b>(Choose Program Type First)</b></p></div>

      <div style="width: 128%"><b>Application Status :</b>{{form1.status}}</div>

      <div style="width: 110%"><b>Program Type :</b>{{form1.pg_type}}</div>

      <div style="width: 110%"><b>Admit Batch :</b>{{form1.admit_batch}}</div> 

</div>
        <div class="text-center" >
        <input class="btn btn-xs btn-primary" type="submit" value="List" style="width: 10%">
        </div>
      </form>

  <br>

  {% render_table table %}
  <div class="text-center">
  <form action="{% url 'business_user:createCSV' %}" method="get">
      {% csrf_token %}
      <input class="btn btn-sm btn-primary" name="AppCSV" type="submit" 
        value="Download CSV" id="csv" >
      <input class="btn btn-sm btn-primary" name="EduCSV" type="submit" 
        value="Download Educations CSV" id="Educsv" style="width:20%" >
      <input class="btn btn-sm btn-primary" name="WExpCSV" type="submit" 
        value="Download Work Experience CSV" id="WExpcsv" style="width:20%" >
      <input class="btn btn-sm btn-primary" name="MHrCSV" type="submit" 
        value="Download Mentor and HR Contact Details" id="MHrcsv" style="width:30%" >  

      <input type="hidden" id="texens" name="user" value="texens" />
      <input type="hidden" id="fromDate" name="fromDate" value="texens" />
      <input type="hidden" id="toDate" name="toDate" value="texens" />
      <input type="hidden" id="prog" name="prog" value="texens" />
      <input type="hidden" id="pg_type" name="pg_type" value="texens" />
      <input type="hidden" id="stat" name="stat" value="texens" />
      <input type="hidden" id="admit_batch" name="admit_batch" value="texens" />
  </form> 
  </div> 
  </div>  
  <br>
{% endblock %}