<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<pre>
Greetings Applicant,

Some of the documents you had submitted along with your application have been rejected as they do not meet the document submission standards. <br>
Please log into the system to review the rejected documents and re-submit the same.

Please ensure the resubmitted documents address the rejection reasons of the prior document. <br>Application Link - <a href="https://wilpadmissions.bits-pilani.ac.in">https://wilpadmissions.bits-pilani.ac.in</a>

Please find below the rejection summary

{{rejection_message}}



Regards,
WILP Admission Team
</pre>
		





</body>
</html>