{% load static %}
<html>
<body>
	<p>Dear {{app_name}}</p>

	<p>Thank you for applying to {{program}}. We are sorry to inform you that we are not able to offer you an admission to the {{admit_batch}} cohort of the program.</p>	
	<p>

	<p>Students for this cohort have been selected basis the following factors:</p>
	<ul>
		<li>Educational Background</li>
		<li>Work Experience Background</li>
	</ul>

	<p>Unfortunately, your profile doesn’t meet the minimum eligibility criteria.</p>

	<p>As a participant of this programme, students would need to go through a rigorous and intensive curriculum related to application based learning. We would want students to make most of these learnings offered to them. We feel that now would not be the most opportune time for you to enroll in the program.</p>

	<p>You have invested considerable time in applying for this program and we appreciate your effort. Although we couldn’t offer you an admission for this batch of the Programme, we will keep you informed about the future cohorts.</p>

	<p>Wish you all the very best and look forward to your participation at a time in the future.</p><br>

	With best wishes,<br>
	BITS Pilani Admissions Cell

</body>
</html>



	
