tagAppliaction{
margin-top: 47px;

margin-left: 50px;
}
h3{
text-align: center;
margin-top: 75px;
}

#example_wrapper{
position: relative;
top: 33px;
left: 50px;
width: 92%;
}
table.dataTable tr.odd { background-color: #D3D3D3 }
table.dataTable tr.even { background-color: #f2f2f2}