{% extends 'adhoc/pay_adhoc_fee.html' %}
{% load static %}


{% block title %}{{ block.super }} Loan Payment Status {% endblock %}

{%block titleOfContent %} Loan Payment Status {% endblock %}

{% block container %}
<br><br>
	<div class="container">
		<div class="row">
			<div class="text-center" style="font-size: medium;">
			<b>
				Your Loan Application has been successfully submitted with Zest Money. Kindly wait for the same to be approved. Your Student ID will be generated post this approval.
			</b>
		</div>
		</div>
	</div>
{% endblock %}