{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}

<script type="text/javascript">
	$(document).ready(function(){
		var $is_active_help_text = $('.help');
		var $is_active = $('#id_is_active');
		
		$is_active.change(function(){ 
			if($is_active.get(0).checked)
			{
				$is_active_help_text.text("");
			}
			else
			{
				$is_active_help_text.text("The center is deactivated. It will now not be available for assigning any exam slot");
			}
		});
	});
</script>
{% endblock %}