{% load static %}

{% load widget_tweaks %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css"%}">
<link href="{% static "assets/css/bootstrap.min.css"%}" rel="stylesheet">
<link href="{% static "assets/css/ie10-viewport-bug-workaround.css"%}" rel="stylesheet">


    <!-- Custom styles for this template -->
<link href="{% static "assets/css/signin.css"%}" rel="stylesheet">
<script src="{% static "assets/js/ie-emulation-modes-warning.js"%}"></script>
 <!--<script src="{% static "assets/js/bootstrap.min.js"%}"></script>-->
  <script src="{% static "assets/js/jquerynew.min.js"%}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="jumbotron">
<header>

<tr>

<title>BITS WILP</title>
<div class="headerWrapper" style=" height: 167px;">

<h1 class="hidden">BITS Pilani</h1>
<div class="logoWrapper" padding-top: 17px;>
<img src="{% static "assets/images/BIts_Logo-01.png" %}" id="headercontrol_imgu" alt="BITS Pilani logo" class="logoFunc" >

<h2 class="appCentre" ><i>Application Centre</i></h2>
</div>
</div>

</tr>
</header>

</div>




<style>
.required {
    color: #e32;
    content: ' *';
    display:inline;
}
        ul {
    list-style-type: none;
    margin: 1px;
padding: 3px;
}

li {
    display: inline;
}
td, th {
padding: 7px;
}
div#stuDiv{
    padding: 10px;
}
.add-row{

    padding: 8px 21px;
    border-radius: 6px;
    color:black;


    background-size:  38px 34px;
    background-repeat: no-repeat;
    position: relative;
    left: 1%;
}
.delete-row{

    padding: 8px 21px;
    border-radius: 6px;
    color:black;

    position: relative;

    background-size:  38px 34px;
    background-repeat: no-repeat;

}


#work select{
     width: 99%;

}
#industry select{
    width: 76%;
}
.phone select{
    width: 24%;
}

.table>tbody>tr>td{

    border-top: 0px solid #ddd;
}
.table-bordered>tbody>tr>td{
border-top: 0px solid #ddd;
}
#fee select{
    width: 77%;
    }

.addrInput input{
    width: 92%;
}


.bold{
    font-weight: bold;
}

.alignTh{
    font-weight: bold;
    text-align: center;
}


 .current input{
  width: 99%;
 }
 .city input{
    width: 93%;
 }
</style>


</head>
<body >
<form method="post" action="{%url 'registrationForm:review_application_details' form.id%}"  id="form" class="my-form-class">
    {% csrf_token %}
<div class="container">
<h3 style="font-size: x-large;text-align: center;">Application form for {{title}}</h3>
<div id="stuDiv">
    {% if messages %}
<div class="span12">
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
{% endfor %}
</div>
{% endif %}
<div class="divInfoBlock">&nbsp;
    <span class="glyphicon glyphicon-star"></span>Education Details
</div>

</br>
<div>
    <div style="overflow-x: auto;">
         <div  >
            <table class="table table-bordered table-hover" id="tableedu">

                <thead>
                   <tr>
                      <th class="alignTh" style="width: 17%;">Degree<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 15%;">School/College<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 10%;">Duration<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 28%;">Discipline<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 7%;">Year of Passing<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 6%;">% Marks / CGPA<p class="required"> *</p></th>
                      <th class="alignTh" style="width: 9%;">Division<p class="required"> *</p></th>
                    </tr>

                </thead>
                <tbody>
                     {% for y in qual1 %}
                         <tr>


                                 <td id="degree" style="width: 15px;" >{{y.degree}}</td>
                          <td style="width: 15px;">{{y.school_college}}</td>
                          <td style="width: 7px;">{{y.get_duration_display}}</td>

                           <td style="width: 28px;" id="discipline">{{y.discipline}}</td>
                            <td id="hi12" style="width: 4px;">{{y.completion_year}}</td>
                              <td style="width: 5px;">{{y.percentage_marks_cgpa}}</td>
                                <td style="width: 7px;">{{y.get_division_display}}</td>


                        </tr>
                      {% endfor %}
                </tbody>

            </table>

        </div>


    </div>
</div>

<table class="table table-bordered table-hover">
    <tr>
        <td class="bold">Level of Studies in Mathematics <p class="required"> *</p> </td>
        <td>{{form.get_math_proficiency_level_display}}</td>
    </tr>
    <tr>
        <td class="bold">Are you a past student of Bits Pilani <p class="required"> *</p> </td>
        <td>{{form.get_prior_student_flag_display}}</td>

    </tr>
    <tr>
        <td>BITS ID Number (if past student)  </td>
        <td>{{form.bits_student_id}}</td>
    </tr>
</table>

<table class="table table-bordered table-hover">
    <tr>
        <td class="bold">Are you currently pursuing studies in any other university or college<p class="required"> *</p> </td>

    </td>
    <td>{{form.get_parallel_studies_flag_display}}</td>
    </tr>
</table>

</div>
<div class="divInfoBlock">&nbsp;<span class="glyphicon glyphicon-star"></span> Uploaded Documents</div>

<table class="table table-bordered table-hover" style="margin-left: 7px;width:98%">
<thead>

    <tr >
        <th class="tableHeader">Document Name</th>
        <th class="tableHeader">Link</th>
        <th class="tableHeader">Reviewed and Verified?</th>
        <th class="tableHeader">Rejected?</th>
        <th class="tableHeader">Rejection Reason</th>
        </tr>
</thead>
<tbody>

      {% for x in uploadFiles %}
      <tr>
        <td>
        {{x.document}}
        </td>
        <td>
        <a href="{% if x.file %}{{x.file.url}}{% else %}#{% endif %}" TARGET="_blank">{{x}}</a>

        </td>
        <td><input type="checkbox" id="cbox1" name="checks" value="{{x.id}}"></td>
        <td><input type="checkbox" id="cbox1" name="check1" value="{{x.id}}"></td>
        <td>
            <select name="document_rejection_reason">
            {% for entry in document_rejection_reason %}
                <option value="{{ entry.id }}">{{ entry.reason }}</option>
            {% endfor %}
            </select>
        </td>
      </tr>
      {% endfor %}
</tbody>
</table>
</div>

<div>
<table>
<tr>
<td>
<label>Set Application Status
    <select name='application_status_dropdown'>
        <option selected="selected" disabled>Select Application Status</option>
        <option value="selected">Shortlisted</option>
        <option value="in review">In review</option>
        <option value="in review escalated">In review - Escalated</option>
        <option value="rejected">Rejected</option>

    </select>

</label>
</td>
<td>
<label>Rejection Reason
    </label>
    <select name="rejection_reason">
    {% for entry in rejection_reason %}
    <option value="{{ entry.id }}">{{ entry.reason }}</option>

{% endfor %}
</select>
</td>
<td>
<label>Rejection Comments
    <input type="text", cols="30", rows="5", name="Rejection_comments"value=""/>
</label>
</td>
</tr>
</table>
</div>


<div>
<input style="  text-align:left;" class="btn btn-sm btn-primary" type="submit" value="Update Application Status"
id="validateradio", name="update application status">
<input style="  text-align:center;" class="btn btn-sm btn-primary" type="submit" value="Send Shortlisting email" id="validateradio", name="Send Shortlisting email">
<input style="  text-align:right;" class="btn btn-sm btn-primary" type="submit" value="Send Rejection email" id="validateradio", name="Send Rejection email">
</div>
</form>
</body>
<div style="margin-left: 16px;
">


</div>

    <p></p>
    <div style="padding:0px">
        <div style="padding:0px"></div>
    <div class="footerWrapper" style="margin-top: 95px;">


<div class="cpInfoFixWrapper">
    <div class="cpInfoFix">
        <p class="info">
            Admissions Office, BITS, Pilani - 333 031 (Rajasthan) India.<br>
            Call us on: +91-80-48767777</p>

    </div>



</div>





