{% extends 'reviewer/bits_base_reviewer.html' %}

{% load static %}
{% load widget_tweaks %}
{% load admission_filter %}
{% load super_reviewer_filter %}

{% block title %}Escalated Applicants{% endblock %}

{% block staticContent %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">

  <script>
  $(document).ready(function(){
  $('#sr_table').DataTable();

       $("#EscCsv").click(function(){
      var search=$('input[type=search]').val();
       $("#texens").val(search);
      });

  });
  </script>
{% endblock %}

{%block titleOfContent %} 
    Applicants with Escalations Requiring Review
{% endblock %}

{% block container %}
<div class="container">
  <br>
  <form method="get" action="{% url 'reviewer:esc-applicant' %}" 
    class="my-form-class">
  
    <div class="row container">
      <div class="col-md-5">
        <label><b>Select Program :</b></label>&nbsp&nbsp{{form1.programs}}
      </div>

      <div class="col-md-4">
        <label><b>Application Status :</b></label>&nbsp&nbsp{{form1.status}}
      </div>

      <div class="col-md-2">
        <input class="btn btn-sm btn-primary" id="get_list" type="submit" value="Apply Filter" style="width:100px;">
      </div>
    </div>
  <br>

  <table class="table table-striped table-bordered" id="sr_table" >
    <thead>
      <tr>
        <th>Application ID</th>
        <th>Name</th>
        <th>Applied On</th>
        <th>Program Applied for</th>
        <th>Document Name</th>
        <th>Rejection Reason</th>
        <th>Exception Comments</th>
        <th>Doc Link</th>
      </tr>
    </thead>  
  <tbody>
    {%for element1 in queryResult%}
      <tr>
        <td>
        <a href="{% url 'registrationForm:review_application_details' element1.application.id %}" target="_blank">
        
        {% show_application_status element1.application.student_application_id %}
        </a></td>
        <td> {{element1.application.full_name}}</td>
        <td> {{element1.application.created_on_datetime|date:'d-m-Y'}}</td>
        <td> {{element1.application.program_name}}</td>
        <td> {{element1.document}}</td>
        <td> {{element1.rejection_reason|default:'-'}}</td>
        <td> {{element1.exception_notes}}</td>
        <td> 
        <a href="{% url 'registrationForm:document-view' element1.pk %}" target = '_blank' >Doc Link</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  <br>
    <div class="text-center">
      <input class="btn btn-sm btn-primary" name="escalate" id="EscCsv" 
      type="submit" value="Download Escalation Details in CSV" style="width:30%">
      <input type="hidden" id="texens" name="user" value="" />
    </div>
  </form> 
</div>
<br>
{% endblock %}
