{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load admission_filter %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<link rel="stylesheet" type="text/css" href="{% static "assets/css/style.css"%}">
<link href="{% static "assets/css/bootstrap.min.css"%}" rel="stylesheet">
<link href="{% static "assets/css/ie10-viewport-bug-workaround.css"%}" rel="stylesheet">

  <script src="{% static "assets/js/jquerynew.min.js"%}"></script>
    <!-- Custom styles for this template -->
<link href="{% static "assets/css/signin.css"%}" rel="stylesheet">
<link href="{% static "assets/css/style.css"%}" rel="stylesheet">
<script src="{% static "assets/js/ie-emulation-modes-warning.js"%}"></script>
 <script src="{% static "assets/js/bootstrap.min.js"%}"></script>

 <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
-->

<div class="jumbotron">
<header>



<title>BITS WILP</title>
<div class="headerWrapper" style=" height: 167px;">

<h1 class="hidden">BITS Pilani</h1>
<div class="logoWrapper" padding-top: 17px;>
<img src="{% static "assets/images/BIts_Logo-01.png" %}" id="headercontrol_imgu" alt="BITS Pilani logo" class="logoFunc" >

<h2 class="appCentre" ><i>Application Centre</i></h2>
 <div id="tag"  >
<a href={% url 'registrationForm:bits-login-admin'%}>{% trans 'Home' %}</a>
 |

{% if not user.email|is_specific_user %}
  
  <a href={% static "How_to_Apply-NonSpecific.pdf" %} target="_blank">How to Apply</a> | 
  
  {% else %}
  
  <a href={% static "How_to_Apply.pdf" %} target="_blank">How to Apply</a> |
 
  {% endif %}

         &nbsp|&nbsp<a href="/admin/registrations/applicationpayment/update/" >Upload Payment Data</a>&nbsp|&nbsp
<a href={% url 'bits_admin:userdataview'%} 
	style="text-decoration:none">
    	{% trans 'Download User Data' %}</a>
		&nbsp|&nbsp<a href={% url 'bits_admin:applicantData'%} style="text-decoration:none">Download Applicant Data</a>&nbsp|&nbsp
	<a href="{% url 'bits_admin:paymentData'%}">
          Download Payment Data</a>
         &nbsp|&nbsp
<a  href="{% url 'admin:index' %}registrations/" style="text-decoration:none">Manage Master Data</a>&nbsp|&nbsp<a href={% url 'auth_logout'%}> Log out</a>





            </div>

</div>
</div>
<style>
label {
    display:none;
}
</style>

</header>






<br>


<h1 style="font-size: x-large;text-align:center;"><b >Works Integrated Learning Programs Application Guidelines</b></h1>

<br>
<br>

<br>


<form method="post" action="{% url 'registrationForm:instruction-update' %}">
  {% csrf_token %}
  <center>
  <table>
    {{data.media}}
  {{data.as_table}}</table></center>
<br>
<br>
   <button class="btn btn-primary center-block " type="submit" value="Pay fee" >Update Instructions</button>
</form>
<br>
<br>
 
 <footer class="footer">
      <div  style="width: 112%;">
<div style="padding:0px">
        <div style="padding:0px"></div>
    <div class="footerWrapper" style="margin-top: 95px;">


<div class="cpInfoFixWrapper">
    <div class="cpInfoFix">
        <p class="info">
            Admissionsss Office, BITS, Pilani - 333 031 (Rajasthan) India.<br>
            For Assistance Call +91-80-48767777</p>

    </div>
    <!--<div style="height: 50px; width: 100%; background-color: #F5F5F5; margin-top: 0px">
            </div>-->
</div>


</div>
       

   
      </div>
    </footer>