{% load static %}
{% load admission_filter %}

<li><a href={% url 'registrationForm:applicantData'%}>Home</a></li>

{% if user.email|is_CIOT_user %}
	<li><a href={% static "static_pdf/How_to_Apply_IoT.pdf" %} target="_blank">How to Apply</a></li>
{% elif not user.email|is_specific_user %}
	<li><a href={% static "static_pdf/How_to_Apply-NonSpecific.pdf" %} target="_blank">How to Apply</a></li>
{% else %}
<li><a href={% static "How_to_Apply.pdf" %} target="_blank">How to Apply</a></li>
{% endif %}

<li><a href={% url 'registrationForm:applicantView'%} TARGET="_blank">Download Application PDF</a></li>

{%if user.email|get_admission_permission%}
<li><a href={% url 'registrationForm:pay-admission-fee'%} TARGET="_blank">Download Admission Fee Receipt</a></li>
{%endif%}

<li><a href={% url 'registrationForm:payfee'%} TARGET="_blank">Download Fee Receipt</a></li>

<li>{% bits_applicant_form_view_urls_link  email=user.email  %}</li>

<li><a href={% url 'auth_logout'%}> Log out</a></li>