<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>BITS</title>
</head>

<h align="center" font size="8"><b>Work Integrated Learning Programs Application Guidelines<b><h>

<h>Important Guidelines for Application Submission</h>
<ul type="1">
<li>Fill the form below with information as required in each section.After completion, check all information for accuracy and then press 'Submit'.</li>
<li>After submission,do remember to download a copy of the application form to your computer, and take a printout of the same.</li>
<li>
After submission, you will see a link to pay online the application fee of INR 1500.You can use this link to pay online through netbanking/Debit Card/ Credit Card. Alternatively, you may choose to send the application fee later through a challan/Demand Draft.
</li>
<li>
The downloaded form will include the Employer Consent Form and Mentor Consent Form that must be completed and attached to your printed Application form. Also included is a checklist of supporting documents such as academic certificates and proof of work experience, which must be attached by a Gazetted Officer or your employer organization's HR and attached to your Application Form.</li>
<li>
The printed Application Form, along with Employer Consent Form.Checklist of documents, and copies of supporting documents should be dispatched to the following address, and must reach before Dec 9,2015</li>
</ul>
</html>