<html>

	<body>

		<p>
		Dear Applicant,
		</p>

		<p>
			You had recently created a User ID and Login Password to submit an application for BITS Pilani Work Integrated Learning Programmes.<br>
			We noticed that you did not log back into the Online Application Centre to continue the application process.
		</p>

		<p>
			Your User ID would be the Email ID where you are receiving this email.
		</p>

		<p>
			<u>To login in to the Online Application Center</u>, please visit: <a href="https://wilpadmissions.bits-pilani.ac.in/accounts/login/"> 
			https://wilpadmissions.bits-pilani.ac.in/accounts/login/</a>
		</p>

		<p>
			<u>In case you have forgotten your password</u>, you may re-set it using this link:
			<a href="https://wilpadmissions.bits-pilani.ac.in/accounts/password/reset/"> 
			https://wilpadmissions.bits-pilani.ac.in/accounts/password/reset/</a>
		</p>

		<p>
			BITS Pilani Work Integrated Learning Programmes (WILP) can be pursued along with your job, and classes are conducted online mostly over weekends.
		</p>

		<p>
			<strong>The last date to apply is June 15, 2017.</strong><br>
		Should you have any queries, kindly write to us at 
		<a href="mailto:admission@wilp.bits-pilani.ac.in">admission@wilp.bits-pilani.ac.in</a> or call us on +91-80-48767777 (9 am - 7 pm, all 7 days).
		</p>

		<p>
			We wish you all the best!
		</p>

		<p>
			Please ignore this email if you have already completed the application process.
		</p>

		<p>
		Admission Cell<br>
		Work Integrated Learning Programmes<br>
		Birla Institute of Technology & Science, Pilani<br>
		Visit: <a href="http://www.bits-pilani.ac.in/wilp">
		www.bits-pilani.ac.in/wilp
		</a><br>
		Call: +91-80-48767777<br>
		Mail: <a href="mailto:admission@wilp.bits-pilani.ac.in">
		admission@wilp.bits-pilani.ac.in</a>
		</p>

	</body>

</html>