<html>

	<body>

		<p>
		Dear Candidate,
		</p>

		<p>
			We have received your Online Application Form for Work Integrated Learning Programmes offered by BITS Pilani.<br> We noticed that you have not yet submitted the <strong>Application Fee of INR 1500/-.</strong> You may do so online through the Online Application Center at <a href="https://wilpadmissions.bits-pilani.ac.in/accounts/login/">https://wilpadmissions.bits-pilani.ac.in/accounts/login/</a>
		</p>

		<p>
			Please note that application process will close by <strong>June 15, 2017.</strong> Your completed application form along with the required supporting documents must be submitted using the Online Application Center by the closing date.<br> For details on how to apply, please visit <a href="http://www.bits-pilani.ac.in/university/wilp/HowToApply" >how to apply.</a>
		</p>

		<p>
			BITS Pilani Work Integrated Programmes can be pursued along with your job, and classes are conducted online mostly over weekends.
		</p>

		<p>
			If you have any query please write to us at <a href="mailto:admission@wilp.bits-pilani.ac.in">admission@wilp.bits-pilani.ac.in</a>. You may also reach us on +91-80-48767777 (all days between 9am-7pm).<br>Please ignore this email if you have already completed the application process.
		</p>

		<p>
		Regards,<br>
		Admission Cell<br>
		Work Integrated Learning Programmes<br>
		Birla Institute of Technology & Science, Pilani<br>
		Visit: <a href="http://www.bits-pilani.ac.in/wilp">
		www.bits-pilani.ac.in/wilp
		</a><br>
		Write: <a href="mailto:admission@wilp.bits-pilani.ac.in">
		admission@wilp.bits-pilani.ac.in</a><br>
		Call: +91-80-48767777<br>
		</p>

	</body>

</html>
	

