{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center" style="font-size: large;">
    <p>
        {% blocktrans %}
        We have sent you an email with a link to reset your password. Please check
        your email and click the link to continue.
        {% endblocktrans %}
    </p>
    <p>Please Click to <a style= " padding-right: 19px;" href={% url 'auth_login'%}>Log in</a></p>
  </h2>
<input type="hidden" name="next" value="{{ next }}" />
</div>
{% endblock %}