{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="container">
<center>
<form class="form-signin new-password-form" method="Post" style="font-size: medium;">
  <h2 class="form-signin-heading" style="font-size: large;">
    <p>{% trans "Enter your new password below to reset your password" %}</p>
  </h2>
  <br>
  {% csrf_token %}
  {% if form.errors%}
    <div class="alert alert-danger">
      {{ form.new_password1.errors}}{{ form.new_password2.errors}}
    </div>
  {% endif %}

  <table>
    <tr>
      <td width="150px"><b>New Password:</b></td>
      <td  style="padding-bottom: 10px;" >{{ form.new_password1|attr:'required:true'|attr:'oninvalid:setCustomValidity("Please Enter password")'|attr:'oninput:setCustomValidity("")' }}</td>
    </tr>
    <tr>
      <td><b>Retype Password:</b></td>
      <td  style="padding-bottom: 10px;" >{{ form.new_password2|attr:'required:true'|attr:'oninvalid:setCustomValidity("Please Re-enter password")'|attr:'oninput:setCustomValidity("")' }}</td>
    </tr>
  </table>

  <button class="btn btn-sm btn-primary " type="submit" value="{% trans 'Set password' %}" >Reset</button>
</form>
</center>
</div> 
{% endblock %}