{% extends "admin/base.html" %}
{% load static %}
{% load static %}
{% load bootstrap3 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}BITS | Question Paper Management Application {% if header_title %}|{{header_title|upper }}{% endif %}{% endblock %}
{% block content_title %}
{% endblock %}

{% block extrastyle %}

  {% bootstrap_css %}
  <link rel="stylesheet" type="text/css" href="{% static "qpm_static_content/css/admin_base_css.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "qpm_static_content/css/site_base_css.css" %}">


{% endblock %}


{% block extrahead %}
{% bootstrap_javascript jquery='full' %}

<script type="text/javascript" src="{% static "qpm_static_content/js/jquery.doubleScroll.js" %}"></script>
<link rel="icon" href="{% static "qpm_static_content/img/BITSFavicon.ico" %}">

<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-xs-6">
      <a href="">
        <img class="img-responsive" src="{% static "qpm_static_content/img/BITSLogo.gif" %}" width="350" height="100">
      </a>
      </div>
    </div>
  </div>
</div>


<img class="img-responsive navImg" src="{% static "qpm_static_content/img/navBlueHorizon.png" %}">


{% endblock %}

{% block usertools %}
<!-- Navigation section starts here... -->
<nav class="navbar transparent navbar-default navbar-static-top hr">
  <div class="container-fluid nav-width">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
   <div class="collapse navbar-collapse" id="myNavbar">
      {% block navlinks %}
        {% if user.is_superuser %}
            {% include 'navbar/admin_navbar.html' %}
        {% elif user.remoteuser.user_type.user_role in 'CO-ORDINATOR,FACULTY,ON-FAC,OF-FAC,G-FAC' %}
            {% include 'navbar/coord_navbar.html' %}
        {% endif %}
      {% endblock navlinks %}
    </div> <!-- /.navbar-collapse -->

  </div> <!-- /.container-fluid -->
</nav>
<!-- Navigation section ends here... -->
{% endblock %}





{% block footer %}
<!-- Footer section starts here... -->
<footer class="footer1">
    <img class="img-responsive" src="{% static "qpm_static_content/img/footerHorizon.gif" %}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8 col-sm-4 col-md-3">
          <p class="h6" style="line-height: 1.4em;">
                Copyright &copy; <b>BITS Pilani</b><br>
                Vidya Vihar Campus<br>
                Pilani, Rajasthan - 333031<br>
                INDIA
          </p>
        </div>
        <div class="col-sm-offset-5 col-md-offset-6 col-xs-4 col-sm-4 col-md-3 ">
          <img class="img-responsive text-right" src="{% static "qpm_static_content/img/companyBranding.gif" %}">
        </div>
      </div>
    </div>
</footer>
<!-- Footer section ends here... -->
{% endblock %}