<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
  aria-expanded="false">Manage Payment Data<span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-left" role="menu">
    <li><a href="{% url 'bits_admin:paymentData'%}">Download Payment Data</a></li>
    <li><a href="{% url 'bits_admin_payment:upload-manual-payments-home' %}">Upload Manual Payment File</a></li>
    <li><a href="{% url 'bits_admin_payment:upload-gateway-payments-home' %}">
    Upload Payment Gateway File</a></li>
    <li><a href="{% url 'bits_admin_payment:hist-manual-payments-home' %}">View Historical Manual Gateway Data</a></li>
    <li><a href="{% url 'bits_admin_payment:hist-gateway-payments-home' %}">View Historical Payment Gateway Data</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
  aria-expanded="false">Manage User and Applicant Data
  <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="{% url 'bits_admin:applicantData'%}">View/Download Applicant Data</a></li>
    <li><a href="{% url 'bits_admin:userdataview'%}">View/Download User Data</a></li>
    <li><a href="{% url 'bits_admin:passport_photo' %}">Student Photo Download</a></li>
    <li><a href="{% url 'bits_admin:nc-list' %}">View Newly Admitted Students</a></li>
    <li><a href="{% url 'bits_admin:app-archive-data'%}">Archive Applicant Data</a></li>
    <li><a href="{% url 'bits_admin:archive-data-view'%}">View Archived Applications</a></li>
    <li><a href="{% url 'bits_admin_payment:deferred-docs-app' %}">View Deferred Documents Missing</a></li>
    <li><a href="{% url 'bits_admin_payment:deferred-docs-sub' %}">View Deferred Document Submissions</a></li>
    <li><a href="{% url 'bits_admin:followup-mail-logs' %}">Follow Up Mail Logs</a></li>
    <li><a href="{% url 'bits_admin_payment:view-elective-selections' %}">
    View Elective Selections by Students</a></li>
    <li><a href="{% url 'bits_admin_payment:pre-sel-rej-app' %}">
    View Applicants for Pre-Selection</a></li>
  </ul>
</li>

<li>
  <a href="{% url 'admin:index' %}registrations/">Manage Master Data</a>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
  aria-expanded="false">Reports
  <span class="caret"></span></a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="{% url 'bits_admin:dmr-non-spec'%}">
    DMR Report - Program wise - NonSpecific Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-daily-non-spec'%}">
    DMR Report - Daily Movement - NonSpecific Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-daily-cluster'%}">
    DMR Report - Daily Movement - Cluster Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-daily-certification'%}">
    DMR Report - Daily Movement - Certification Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-daily-specific'%}">
    DMR Report - Daily Movement - Specific Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-spec'%}">
    DMR Report - Program wise - Specific Programs</a></li>
    <li><a href="{% url 'bits_admin:dmr-cluster'%}">
    DMR Report - Program wise - Cluster Programs</a></li>
    <li><a href="#" style="color:#bfb5b5">Program Summary Report</a></li>
    <li><a href="{% url 'bits_admin:milestone-report'%}">Milestones Date Report</a></li>
    <li><a href="{% url 'bits_admin:waiver-report'%}">Fee Waiver Report</a></li>
    <li><a href="{% url 'bits_admin:prog-change-report'%}">Program Change Report</a></li>
    <li><a href="{% url 'bits_admin_payment:app-exp'%}">Applicant List with Internal Program Transfers</a></li>
    <li><a href="{% url 'bits_admin:prog-loc-report-cluster'%}">Program Location Report (Cluster)</a></li>
    <li><a href="{% url 'bits_admin:prog-loc-report-specific'%}">Program Location Report (Specific)</a></li>
    <li><a href="{% url 'bits_admin:student-course-report'%}">Student Course Registration Report</a></li>
    <li><a href="{% url 'bits_admin_payment:emi-report' %}">
    Student EMI Loan Applications Report (Zest)</a></li>
    <li><a href="{% url 'bits_admin_payment:adhoc-report' %}">
    Ad-Hoc Payments EMI Report (Zest)</a></li>
    <li><a href="{% url 'bits_admin_payment:program-admissions-report' %}">
    Program Admissions Report</a></li>
    <li><a href="{% url 'bits_admin:inbound' %}">Call Log Details</a></li>
    <li><a href="{% url 'bits_admin_payment:emi-report-eduv' %}">Student EMI Loan Applications Report (Eduvanz)</a></li>
    <li><a href="{% url 'bits_admin_payment:adhoc-eduv-report' %}">Ad-Hoc Payments EMI Report (Eduvanz)</a></li>
    <li><a href="{% url 'registrationForm:saleforce:applicant-data-transfer-log' %}"> Applicant JSON Data Transfer Log</a></li>
    <li><a href="{% url 'bits_admin_payment:emi-report-propelld' %}">Student EMI Loan Applications report (Propelld)</a></li>
    <li><a href="{% url 'bits_admin_payment:adhoc-propelld-report' %}">Ad-Hoc Payments EMI Report (Propelld)
    </a></li>
    <li><a href="{% url 'bits_admin_payment:emi-report-ezcred' %}">Student EMI Loan Applications Report (ABFL-Ezcred)</a></li>
    <li><a href="{% url 'registrationForm:saleforce:specific_report' %}">Specific Program Summary Data (sent to Salesforce)</a></li>
     <li><a href="{% url 'registrationForm:saleforce:salesforce-log-del-report' %}">SalesForce Log Data Deletion Report</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="{% url 'auth_logout'%}">Logout</a>
</li>
