{% extends 'bits_base_admin.html' %}
{% load static %}
{% load table_tags %}
{% load widget_tweaks %}

{% block title %}
  {{ block.super }} Missing Documents
{% endblock %}

{% block staticContent %}
  <style type="text/css">
    #id_programs {
      width:70%;
    }
   
    #id_status{
      width:60%;
    }
  </style>
    <script type="text/javascript">
    $(document).ready(function(){
      $("#csv").click(function(){
         var search = $('input[type=search]').val();
         $("#search").val(search);
       });
    });
       </script>
{% endblock %}

{%block titleOfContent %}
  Missing Documents View for Deferred Submissions
{% endblock %}

{% block container %}
<br>
<div class="container-fluid">
<center>
 <form method="get">
    <div class="row container">
      <div class="col-md-4">
        <label><b>Program :</b></label>&nbsp&nbsp{{form2.programs}}
      </div>

      <div class="col-md-3">
        <label><b>Application Status :</b></label>&nbsp&nbsp{{form2.status}}
      </div>

      <div class="col-md-3">
        <label><b>Admit Batch :</b></label>&nbsp&nbsp{{form2.admit_batch}}
      </div>

      <div class="col-md-2 text-left">
        <input class="btn btn-sm btn-primary" type="submit" value="List" style="width: 70%">
      </div>
    </div>     

<br>

{% render_table table %}

<br>
<br>
      <input class="btn btn-sm btn-primary" type="submit" value="Download CSV File" name="csv" id="csv" style="width:20%">
     <input type="hidden" id="search" name="search">
       
    </form>
    </center>
</div>
{% endblock %}