{% extends "easy_pdf/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load admission_filter %}
{% load humanize %}

<head>
  <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

{% block content %}
<style>
  table, th, td{
    border: 1px solid black; 
    border-collapse: collapse;
    }
  th{
    text-align: left;
    }
  th, td{
    padding: 2px;
  }
  .tableNB{
    border: none;
  }
@page {
  margin: 2cm;
  @frame footer {
    -pdf-frame-content: footerContent;
    left: 450pt;
    width: 512pt;
    bottom: 20pt; 
    height: 40pt;
  }
} 
  </style>
 <div style="padding-bottom:25px; text-align:right;">
    <img 
    src="{% static "assets/images/BIts_Logo-01.png" %}" 
      alt="BITS Pilani logo" width=400>
 </div>
    <div style="clear:right;">
    <h1 style="text-align:center;"><b><u>Admission Offer</u></b></h2> 
    </div>
    <p>
       <b>Ref:</b> Adm/1-{{ pgFeeAdm.admit_year }}/Admit/{{cs.application.student_application_id}}
    </p>
    <p>
        Dear {{ cs.application.full_name }},<br>
      </p>
      <p>
        Congratulations! We are pleased to inform you that based on your educational experience, work experience, work profile and requirements of your employing organisation, you have been <strong>provisionally selected for admission to the {{ program_name }}.</strong>
      </p>

      <p>
        To complete your Admission process, you would need to pay the Admission and Semester Fees of  {{ cs.adm_fees|intcomma }}/- using the Application Center. You can make this payment using Netbanking/ Credit/ Debit Card.<br>
        <strong>You must pay the fee by {{ cs.fee_payment_deadline_dt|date:'M j, Y'|default:'will be provided later' }}.</strong>
      </p>

      <p>
        Once you have successfully paid the admissions fees you will receive further information regarding your BITS Student ID, email ID, and eLearn portal.
      </p>

      <p>
        Please note that in case you decide to discontinue from the programme after confirmation of admission and registration, you will forfeit the entire Admission Fee and Semester Fee of INR {{ cs.adm_fees|intcomma }}/-.
      </p>

      <p>
      Work Integrated Learning Programmes offer a unique learning methodology that demands commitment to upholding the high academic standards of BITS Pilani, along with meeting the work-related demands of your employer organisation. You are expected to be employed for the entire duration of the programme. After admission, in case you change your organisation and/ or mentor, you must inform Work Integrated Learning Programmes Division by submitting a new Employer Consent Form and/ or Mentor Consent.
      </p>

      <strong>Important Information:</strong>
      <table style="width: 40%;">
        <tr>
          <th></th>
          <th>Date</th>
          <th>Time</th>
          <th>Venue</th>
        </tr>
        <tr>
          <td>Orientation Session</td>
          <td>{{cs.orientation_dt|date:'D, M j, Y'|default:'will be provided later'}}</td>
          <td>{{cs.orientation_dt|time:"TIME_FORMAT"|default:'will be provided later'}}</td>
          <td>{{cs.orientation_venue|default:'will be provided later'}}</td>
        </tr> 
        <tr>
          <td>Lectures</td>
          <td>{{cs.lecture_start_dt|date:'D, M j, Y'|default:'will be provided later'}}</td>
          <td>{{cs.lecture_start_dt|time:"TIME_FORMAT"|default:'will be provided later'}}</td>
          <td>{{cs.lecture_venue|default:'will be provided later'}}</td>
        </tr> 
      </table>

      <p>
        Details on venue, schedule, etc. the Face-to-face sessions will be communicated at a later date.
      </p>

      <p>
        Administrative Contact Person: {{cs.admin_contact_person|default:'will be provided later'}}, ph: {{cs.admin_contact_phone|default:'<>'|safe }}.<br>
        Academic Contact Person: {{cs.acad_contact_person|default:'will be provided later'}}, ph: {{cs.acad_contact_phone|default:'<>'|safe }}.<br>
      </p>
      
    <footer>
      <div id="footerContent">
        <img src="{% static "assets/images/companyBranding.gif"%}" width="200" height="80">
      </div>
    </footer>
{% endblock %}
