{% extends 'bits_BaseTemp.html' %}
{% load static %}

{% block title %}Propelld Payment{% endblock %}
{%block titleOfContent %}
Propelld Payment
{% endblock %}

{% block container %}
	<center><br><br><h3> BITS.!!!  Merchant Check Out Page {{pk}}</h3></center></br>
	<div class="progress">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
		  Please Do Not Refresh The Page
		</div>
	</div>
<!-- 	<button onclick="myFunction()">Click me</button> -->

<script type="text/javascript">
$(document).ready(function(){
	 var param = {"pk":"{{pk}}"};
	$.ajax({
	    url: "{% url 'adhoc:propelld:apicall' %}",
	    contentType : "application/json",
	    type: 'POST',
	    data: JSON.stringify(param),
	    success: function (data) {
	        window.location = data;
	    }
	});


  });

	 </script>
{% endblock %}
