{% extends 'adhoc/pay_adhoc_fee.html' %}
{% load static %}
{% load admission_filter %}

{% block title %}Eduvanz Acknowledgment{% endblock %}
{%block titleOfContent %}
Eduvanz Acknowledgment
{% endblock %}

{% block container %}
	<center>
		<br><br>
		<h3> {{eduvanz.application.student_application_id}} Eduvanz EMI is under process .. <a href="{% url 'registrationForm:applicantData' %}">home page</a></h3>
		<br></br>
		You Loan Application is now at {{eduvanz.get_status_code_display}} stage. Please visit the Eduvanz Site to view the status of your loan OR submit documents and proofs as required by them. You loan status will also be shown on the admission fee payment page
	</center></br>
	
{% endblock %}