<ol style="font-size: small;">
  <li>
    <p>
      <u>Photograph:</u> Upload a soft copy of a professionally taken passport-sized photograph in JPEG and JPG format ONLY.<strong> Selfies using smartphones are NOT preferred </strong>. When you upload a photo you will be provided with a pop up that allows you to resize the photo and submit it in 150px by 150px size. You are required to use the same for photo submission.
    </p>
  </li>

  <li>
    <p>
      <u>Degree/ Diploma Certificate:</u> Upload scanned copy of BE/ B.Tech. or equivalent Degree certificate that includes your name as it is spelt. Upload all certificates together as a multi-page .PDF, or a .ZIP file. Ensure they are Self-Attested.
    </p>
  </li>

  <li>
    <p>
      <u>Marksheets:</u> Upload academic marksheets for all years/ semesters of all your BE/ B.Tech. examinations. Upload all marksheets together as a multi-page .PDF, or a .ZIP file. Ensure they are Self-Attested.
    </p>  
  </li>

  <li>
    <p>
      <u>Proof of ID:</u> Govt. issued ID such as Driving License, Passport, Aadhar, Voter ID, etc. Upload .PDF or .ZIP file only.
    </p>
  </li>

  <li>
    <p>
      <u>Equivalency Certificate:</u> If you hold a degree/ diploma from a non-Indian University, please provide a certificate of equivalency in .PDF format.
    </p>
  </li>

  <li>
    <p>
      <u>Change of Name Proof:</u> If you have changed your name, and if your name in the application form differs from your name as spelt in your educational certificates, marksheets or other supporting documents, please provide a proof of name change in .PDF format.
    </p>
  </li>
</ol>