<ol style="font-size: small;">
  <li>
  <p>
    <u>Application Form:</u> This implies pages 1 & 2 of the downloaded pdf of the Application Form. Upload a single pdf file containing the two pages scanned together, or a zip file that has separate pdf files for each page. Ensure that all additional information required therein has been filled legibly by hand, and photograph and signature are present. Upload .PDF or .ZIP file only.
 </p>
  </li>

  <li>
  <p>
     <u>Photograph:</u> Upload a soft copy of a professionally taken passport-sized photograph in JPEG and JPG format ONLY.<strong> Selfies using smartphones are NOT preferred </strong>. When you upload a photo you will be provided with a pop up that allows you to resize the photo and submit it in 150px by 150px size. You are required to use the same for photo submission.
  </p>
  </li>

  <li>
  <p>
     <u>Highest Qualification:</u> Upload scanned copy of 10+2 Class or equivalent certificate that includes your name as it is spelt. Upload all certificates together as a multi-page .PDF, or a .ZIP file. Ensure they are Self-Attested.
  </p>
  </li>

  <li>
  <p>
  <u>Proof of Date of Birth:</u> Upload a photocopy of your 10th Pass certificate / marksheet clearly stating your date of birth. Upload .PDF or .ZIP file only.</p>
  </li>

  <li>
  <p>
  <u>Marksheet(s):</u> Upload academic marksheets for all years/ semesters of all your Highest Qualification. Upload all marksheets together as a multi-page .PDF, or a .ZIP file. Ensure they are Self-Attested.</p>  
  </li>

  <li>
  <p>
  <u>Career Objective:</u> Upload scanned copy of a brief write-up on your career objectives in applying to this programme. Upload .DOC, .DOCX, .PDF or .ZIP file only.</li>

  <li>
  <p>
    <u>Change of Name Proof:</u> If you have changed your name, and if your name in the application form differs from your name as spelt in your educational certificates, marksheets or other supporting documents, please provide a proof of name change in .PDF format.</p>
  </li>
  
  </ol>